body {
	background-color: #BACDDA;
	font-family: 'Quicksand', sans-serif;
}


.container {
	display: flex;
    flex-direction: column;
    margin:auto;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

